*.DS_Store
__pycache__/
*.out
/imgs/slide*.png
/imgs/parts/
/js-build/*.js
/webserver/
~$*
*_logs.txt
id_rsa
config.py
my_email.py
resources-NEW/*/*.rds
resources-NEW/multi_omics_data/*/*.gz*
resources-OLD/
fragments-OLD/
*.zip
REFERENCE/
venv
.venv
out.txt
.Rhistory
.Rdata
restart_webserver.sh
restart_r_servers.sh

*.pyc
*.pyo
*.pyd
.cache/
.mypy_cache/
.pytest_cache/
*.log
logs/
env/
ENV/
*.pem
*.key
*.env
.env*
paper_rag/data/*/*.faiss
paper_rag/data/*/*.npy
paper_rag/data/*/*.pkl

test.py