*.DS_Store
__pycache__/
*.out
/imgs/slide*.png
/imgs/parts/
/js-build/*.js
/webserver/
~$*
*_logs.txt
id_rsa
config.py
my_email.py
resources-NEW/*/*.rds
resources-NEW/multi_omics_data/*/*.gz*
resources-OLD/
fragments-OLD/
*.zip
REFERENCE/
resources-NEW/*/*.png
